@model TaskManagement.Models.List

@{
    ViewData["Title"] = "ListForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListForm</h1>

<h4>List</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" asp-controller="List" class="needs-validation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColumnLimit" class="control-label"></label>
                <input asp-for="ColumnLimit" class="form-control" />
                <span asp-validation-for="ColumnLimit" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isListForFinish" /> @Html.DisplayNameFor(model => model.isListForFinish)
                </label>
            </div>
            <input type="hidden" asp-for="BoardId" value="@Model.BoardId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 