@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    Layout = "_LoggedInLayout";
}

<h1 class="m-2">Your Projects:</h1>

<a class="btn btn-primary m-2" href="/Project/Create">Create A Project!</a>

<table id="Projects" class="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Date Created</th>
            <th>Creator</th>
            <th>Delete</th>
        </tr>
    </thead>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $('#Projects').DataTable({
                ajax: {
                    url: '/Project/GetProjectsByUserId',
                    type: 'GET', 
                    dataType: 'json',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'projectName',
                        render: function (data, type, project) {
                            return '<a href="/project/edit/' + project.ProjectId + '">' + data + ' </a>';
                        }
                    },
                    { 
                        data: 'dateCreated' ,
                        render: function (data, type) {
                            var date = new Date(data);
                            var day = date.getDate().toString().padStart(2, '0');
                            var month = (date.getMonth() + 1).toString().padStart(2, '0');
                            var year = date.getFullYear();
                            return day + '-' + month + '-' + year;
                        }
                    },
                    { 
                        data: 'creator',
                        render: function (data, type) {
                            return data.userName;
                        }
                    },
                    {
                        data: "projectId",
                        title: 'Delete',
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger js-delete" data-projectid="' + data + '">Delete</button>';
                        }
                    }
                ]
            });

            $("#Projects").on('click', ".js-delete", function () {
                var button = $(this);
                bootbox.confirm('Are you sure you want to delete this project?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/Project/DeleteProjectById/' + button.data('projectid'),
                            method: 'DELETE',
                            success: function () {
                                alert('Delete Succeeded');
                                table.row(button.parents('tr')).remove().draw()
                            }
                        });
                    }
                });

            });

        });

    </script>
}