@model TaskManagement.Models.ViewModels.Project_TypeViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1>Create</h1>

    <h4>Project</h4>
    <hr />

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Save" asp-controller="Project" class="needs-validation" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Project.Name" class="control-label">Project Name</label>
                    <input asp-for="Project.Name" class="form-control" required />
                    <span asp-validation-for="Project.Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Project.Description" class="control-label">Description</label>
                    <textarea asp-for="Project.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Project.Description" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Project.ProjectTypeId" class="control-label">Project Type</label>
                    <select asp-for="Project.ProjectTypeId" class="form-control" required>
                        <option value="">Select Project Type</option>
                        @foreach (var projectType in Model.ProjectTypes)
                        {
                            <option value="@projectType.ProjectTypeId">@projectType.ProjecTypetName</option>
                        }
                    </select>
                    <span asp-validation-for="Project.ProjectTypeId" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="UserHomePage" asp-controller="Pages">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}