@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <img src="~/images/tasksync-high-resolution-logo-transparent.svg" alt="LOGO" width="90%"/>
</div>