@model TaskManagement.Models.Board

@{
    ViewData["Title"] = "BoardDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BoardDetails</h1>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-controller="List" asp-route-id="@Model?.BoardId">Create List</a> |
    <a asp-action="Index">Back to List</a>
</div>