@{
    Layout = "_ProjectElementsLayout";
}

<h1 class="m-2">@Model.Project.Name / Backlog</h1>

<div class="container mt-4">
    <h1 class="mb-3">@Model.Project.Name / Backlog</h1>

    <div class="board">
        <!-- Tasks for the first container go here -->
    </div>

    <hr class="my-4">

    <div class="Backlog">
        <!-- Tasks for the second container go here -->
    </div>

    <!-- Create Button Dropdown -->
    <button class="btn btn-dark">Create Issue</button>

</div>