@model TaskManagement.Models.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/datatables.bootstrap4.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/all.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />

    @* My Css *@
    <link rel="stylesheet" href="~/MyFiles/css/Sidebar.css" />
    <link rel="stylesheet" href="~/MyFiles/css/board.css" />

</head>
<body id="body-pd" class="">


    <header id="navnav">
        <partial name="_NavbarPartial" />
    </header>


    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-2 border-end border-bottom" id="sidebar" style="height: 87.3vh;">
                @await Html.PartialAsync("_ProjectSideBarPartial", Model.Project)
            </div>

            <div class="col-md-10 scrollcontainer" id="content">
                <button id="toggleSidebarBtn" class="btn btn-dark mt-1"><i class="fa-solid fa-bars"></i></button>
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/all.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    @* My JS *@
    <script src="~/MyFiles/js/Sidebar.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>